import(spatstat.utils)
import(spatstat.data)
import(spatstat.sparse,spatstat.geom,spatstat.core,spatstat.linnet)

importFrom(Matrix, sparseMatrix)
importFrom(stats, aggregate, predict)

useDynLib(spatstat.Knet, "createGraphNet", "I_createGraphNet")

export("Knet", "Knetinhom")
export(".onLoad", ".onAttach")

