import(spatstat.utils,spatstat.data,spatstat.sparse)
import(spatstat.geom,spatstat.random)
import(spatstat.explore,spatstat.model,spatstat.linnet)
import(spatstat)

importFrom(Matrix, sparseMatrix)
importFrom(stats, aggregate, predict)

useDynLib(spatstat.Knet, "createGraphNet", "I_createGraphNet")

export("Knet", "Knetinhom")
export(".onLoad", ".onAttach")

